ParkDACE/Connected Services/ServiceParkingSpot/ServiceParkingSpot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpot" nillable="true" type="tns:ArrayOfParkingSpot" />
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Battery" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestramp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
</xs:schema>